Extract:

In [1]:
# Import Dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Read in Traffic CSV files
traffic_14 = pd.read_csv("TA_Traffic_2014.csv")
traffic_15 = pd.read_csv("TA_Traffic_2015.csv")
traffic_16 = pd.read_csv("TA_Traffic_2016.csv")
traffic_17 = pd.read_csv("TA_Traffic_2017.csv")
traffic_18 = pd.read_csv("TA_Traffic_2018.csv")

In [3]:
# Read in Weather CSV files
weather_df = pd.read_csv("Istanbul Weather Data.csv")

# Read in Turkish Airline Stock Data
stock_df = pd.read_csv("cleanThy.csv")

Transform:

In [4]:
# Transpose Traffic Data
traffic_14t = traffic_14.T
traffic_15t = traffic_15.T
traffic_16t = traffic_16.T
traffic_17t = traffic_17.T
traffic_18t = traffic_18.T

In [23]:
traffic_18t.round(2)

,0,1,2,3,4,5,6,7
Unnamed: 0,Number of Landing,Available Seat Km ('000),Revenue Passenger Km ('000),Passenger Load Factor (%),Passengers Carried,Cargo and Mail (Tons),Km Flown ('000),Int-to-Int Transfer Passengers Carried
January,38451,1.42412e+07,1.13597e+07,0.797662,5.68524e+06,97809.9,67956.5,1.76425e+06
February,35022,1.28432e+07,1.02382e+07,0.797167,5.12256e+06,99111.7,61905.3,1.58526e+06
March,39684,1.46316e+07,1.19992e+07,0.820089,5.95988e+06,117451,69981.7,1.91905e+06
April,41310,1.51668e+07,1.26101e+07,0.831432,6.44418e+06,113462,71434.6,1.97654e+06
May,41297,1.54565e+07,1.21616e+07,0.786827,6.1478e+06,118332,72524.5,1.89001e+06
June,43598,1.58032e+07,1.24974e+07,0.790813,6.38372e+06,115967,74716.7,1.96394e+06
July,47047,1.69339e+07,1.44589e+07,0.853841,7.47718e+06,119726,80189.4,2.19326e+06
August,47281,1.72017e+07,1.47307e+07,0.856352,7.56892e+06,116682,81280.3,2.24933e+06
September,43575,1.59269e+07,1.32987e+07,0.834984,6.81493e+06,122472,75606.3,2.07484e+06
October,41990,1.55209e+07,1.29465e+07,0.834135,6.51942e+06,132308,74180.1,2.07438e+06
November,36951,1.39349e+07,1.13468e+07,0.81427,5.52958e+06,130566,67438.9,1.81622e+06
December,37670,1.43699e+07,1.15213e+07,0.80177,5.51439e+06,128536,69415.3,1.93437e+06